* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}

.app__header {
  position: sticky; /*sticky and top:0 make header always at the top when scrolling*/
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

/* Added temporarily */
.app__headerImage {
  height: 40px;
  width: 110px;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__loginWarning {
  text-align: center;
  padding: 20px;
}
