.post {
  background-color: white;
  max-width: 500px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}

.post__image {
  width: 100%;
  object-fit: contain; /*makes object cover entire container */
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text {
  font-weight: normal;
  padding: 20px;
}

.post__header {
  display: flex; /* puts everything in one row */
  align-items: center;
  padding: 20px;
}

.post__avatar {
  margin-right: 10px; /*gap bw avatar and username */
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
}

.post__comments {
  padding: 20px;
}

.post__input {
  flex: 1; /*input takes as much space it can */
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post__button {
  flex: 0; /*button takes as less space as possible*/
  border: none;
  color: #6082a3;
  background-color: transparent;
  border-top: 1px solid lightgray;
}
